@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&family=Laila:wght@300;400;500;600;700&family=Oswald:wght@200..700&display=swap');

* {
  font-family:Laila, Oswald, Hind Guntur;
  box-sizing: border-box;
}

:root{
  --blackText: #050315;
  --bgBeige: #f6e8c5;
  --redPrimary: #8a0708;
  --navySecondary: #2f3269;
  --yellowAccent: #e0bb58;

  background-color: var(--bgBeige);
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
	height: 100%;
}

p {
  color: black;
  padding: 0px;
  font-family: Hind Guntur;
  font-size: 24px;
}

h1 {
  font-family: Laila;
  text-align: center;
  font-size: 72px;
  padding: 20px;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 42px;
  padding: 20px;
  font-family: Oswald;
}

h3 {
  font-size: 42px;
  font-family: Oswald;
  margin: 0 0;
}

.selected {
  background-color: green;
  color: white;
}

button {
  padding: 10px;
  font-size: 24px;
  font-family: Hind Guntur;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #2f3269;
  color: white;
}

.addtocart {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

.addtocart button{
  padding: 10px;
  font-size: 24px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.addtocart button:hover {
  background-color: #4CAF50; /* Green */
  border: 2px solid darkgreen;
  cursor:pointer;
}

.saleUI {
  display: flex;
  justify-content: space-around;
}

.completedOrders {
  padding: 20px;
}

.order {
  padding: 15px;
  background-color: rgb(250, 246, 215);
}

.order ul {
  background-color: rgb(147, 248, 248);
  font-size: 24px;
}

.order button {
  background-color: rgb(255, 124, 124);
  font-size: 18px;
}

.order button:hover {
  background-color: crimson;
}

.cart {
  background-color: rgb(250, 246, 215);
  font-size: 24px;
  padding: 15px;
}

.cart button {
  background-color: rgb(131, 236, 255);
  font-size: 24px;
}

.cart button:hover {
  background-color:rgb(52, 155, 57);
  font-size: 24px;
}

.popup {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

.cart .selected {
  background-color: green;
  color: white;
}